In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv")

In [5]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [6]:
df.describe()

,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
count,8.594000e+03,8594.000000,8586.000000,8580.000000,8555.000000,8569.000000,8563.000000,8579.000000,8500.000000,8584.000000,8355.000000,8577.000000
mean,3.954938e+04,6.500000,3.861985,5.559907,6.005143,5.319874,7.694616,5.192563,2.748941,1.497204,47.470736,1.384867
std,6.267259e+05,0.500029,2.019689,2.233700,2.129866,2.173449,1.735904,1.457643,0.905477,0.500021,18.397369,0.486592
min,1.000000e+00,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,1.000000
25%,1.052000e+03,6.000000,2.000000,4.000000,5.000000,4.000000,7.000000,4.000000,2.000000,1.000000,33.000000,1.000000
50%,1.714000e+03,6.500000,4.000000,6.000000,6.000000,5.000000,8.000000,6.000000,3.000000,1.000000,47.000000,1.000000
75%,2.745000e+03,7.000000,5.000000,7.000000,8.000000,7.000000,9.000000,6.000000,3.000000,2.000000,62.000000,2.000000
max,1.100143e+07,7.000000,7.000000,10.000000,10.000000,10.000000,10.000000,7.000000,5.000000,2.000000,114.000000,2.000000

Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.
Year 6 = 2012
Year 7 = 2014

In [7]:
df["year"].value_counts()

7    4297
6    4297
Name: year, dtype: int64

In [13]:
df_2012 = df.loc[lambda df: df['year'] == 6, :]

In [14]:
df_2014 = df.loc[lambda df: df['year'] == 7, :]

In [15]:
df_2012.describe()

,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
count,4.297000e+03,4297.0,4291.000000,4287.000000,4277.000000,4282.000000,4276.000000,4288.000000,4251.000000,4297.000000,4171.000000,4290.000000
mean,3.954938e+04,6.0,3.923095,5.563098,5.997896,5.388837,7.723573,5.227612,2.740296,1.498720,47.524814,1.376690
std,6.267624e+05,0.0,2.016634,2.235686,2.136205,2.171118,1.764846,1.478865,0.915139,0.500057,18.196188,0.484613
min,1.000000e+00,6.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,1.000000
25%,1.052000e+03,6.0,2.000000,4.000000,5.000000,4.000000,7.000000,4.000000,2.000000,1.000000,33.000000,1.000000
50%,1.714000e+03,6.0,4.000000,6.000000,6.000000,5.000000,8.000000,6.000000,3.000000,1.000000,47.000000,1.000000
75%,2.745000e+03,6.0,6.000000,7.000000,8.000000,7.000000,9.000000,6.000000,3.000000,2.000000,62.000000,2.000000
max,1.100143e+07,6.0,7.000000,10.000000,10.000000,10.000000,10.000000,7.000000,5.000000,2.000000,103.000000,2.000000

In [16]:
df_2014.describe()

,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
count,4.297000e+03,4297.0,4295.000000,4293.000000,4278.000000,4287.000000,4287.000000,4291.000000,4249.000000,4287.000000,4184.000000,4287.000000
mean,3.954938e+04,7.0,3.800931,5.556720,6.012389,5.250991,7.665734,5.157539,2.757590,1.495685,47.416826,1.393049
std,6.267624e+05,0.0,2.021127,2.231971,2.123735,2.173845,1.706264,1.435441,0.895731,0.500040,18.597779,0.488484
min,1.000000e+00,7.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,1.000000
25%,1.052000e+03,7.0,2.000000,4.000000,5.000000,4.000000,7.000000,4.000000,2.000000,1.000000,33.000000,1.000000
50%,1.714000e+03,7.0,4.000000,6.000000,6.000000,5.000000,8.000000,5.000000,3.000000,1.000000,47.000000,1.000000
75%,2.745000e+03,7.0,5.000000,7.000000,8.000000,7.000000,9.000000,6.000000,3.000000,2.000000,62.000000,2.000000
max,1.100143e+07,7.0,7.000000,10.000000,10.000000,10.000000,10.000000,7.000000,5.000000,2.000000,114.000000,2.000000

In [17]:
df_2012['ppltrst'].mean()

5.563097737345463

In [18]:
df_2014['ppltrst'].mean()

5.556720242254833

In [19]:
df_2012['ppltrst'].mean() - df_2014['ppltrst'].mean()

0.006377495090629459

There seems to be a very small shift in trust level among those surveyed. It looks like people's trust levels were slighlty higher in 2012